.App {
  text-align: center;
}

.Alert {
  display:fixed;
  top:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

.Aptos-logo {
  height: 10vmin;
  display: inline-block;
}

.Aptos-text {
  justify-content: center;
  align-items: center; 
  display: inline-block;
  color: black;
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.New-account-modal {
  text-align: center;
}

.Request-funds-modal {
  text-align: center;
}

.Made-with {
  position: fixed;
  bottom:0;
  right:0;
  padding-right: 20px;
}




/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
